@import "../partials/mediaVariables";



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1440px) {
    .container {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        justify-content: center;
        align-items: center;
    }
    #link{
        display: none;
    }
    #btn{
        padding: 5%;
        display: inline;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1440px) {
    .container {
        display: flex;
        flex-direction: row;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        justify-content: center;
        align-items: center;
    }
    #link{
        display: inline;
    }
    #btn{
        display: none;
    }
}

